In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('mpg_data_example.csv')
df
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')

In [3]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

In [4]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [5]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 26.5+ KB

In [7]:
#df['horsepower'] = df['horsepower'].astype(float, errors = 'raise')

In [8]:
df['horsepower'].fillna(df.horsepower.mean(),inplace=True)

In [9]:
df[['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name']].isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [10]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

In [11]:
del df["car name"]

In [12]:
y = df['mpg'] * 0.42
y

0       7.56
1       6.30
2       7.56
3       6.72
4       7.14
       ...
393    11.34
394    18.48
395    13.44
396    11.76
397    13.02
Name: mpg, Length: 398, dtype: float64

In [13]:
x = df.drop(['mpg'],axis=1)
x

,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,8,307.0,130.0,3504,12.0,70,1
1,8,350.0,165.0,3693,11.5,70,1
2,8,318.0,150.0,3436,11.0,70,1
3,8,304.0,150.0,3433,12.0,70,1
4,8,302.0,140.0,3449,10.5,70,1
...,...,...,...,...,...,...,...
393,4,140.0,86.0,2790,15.6,82,1
394,4,97.0,52.0,2130,24.6,82,2
395,4,135.0,84.0,2295,11.6,82,1
396,4,120.0,79.0,2625,18.6,82,1
397,4,119.0,82.0,2720,19.4,82,1

In [14]:
df.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,1
1,15.0,8,350.0,165.0,3693,11.5,70,1

In [15]:
x

,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,8,307.0,130.0,3504,12.0,70,1
1,8,350.0,165.0,3693,11.5,70,1
2,8,318.0,150.0,3436,11.0,70,1
3,8,304.0,150.0,3433,12.0,70,1
4,8,302.0,140.0,3449,10.5,70,1
...,...,...,...,...,...,...,...
393,4,140.0,86.0,2790,15.6,82,1
394,4,97.0,52.0,2130,24.6,82,2
395,4,135.0,84.0,2295,11.6,82,1
396,4,120.0,79.0,2625,18.6,82,1
397,4,119.0,82.0,2720,19.4,82,1

In [16]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.2)

In [17]:
x_train.shape,y_train.shape,x_test.shape,y_test.shape

((318, 7), (318,), (80, 7), (80,))

In [18]:
print(x_train)

     cylinders  displacement  horsepower  weight  acceleration  model year  \
305          4         151.0        90.0    2670          16.0          79
388          4         156.0        92.0    2585          14.5          82
11           8         340.0       160.0    3609           8.0          70
185          4          98.0        79.0    2255          17.7          76
125          6         198.0        95.0    3102          16.5          74
..         ...           ...         ...     ...           ...         ...
144          4          76.0        52.0    1649          16.5          74
200          6         250.0        78.0    3574          21.0          76
231          8         400.0       190.0    4325          12.2          77
134          6         258.0       110.0    3632          18.0          74
98           6         250.0       100.0    3278          18.0          73

     origin
305       1
388       1
11        1
185       1
125       1
..      ...
144       3
200       1
231       1
134       1
98        1

[318 rows x 7 columns]

In [19]:
from sklearn.ensemble import RandomForestRegressor
clf = RandomForestRegressor(random_state=0)
clf.fit(x_train,y_train)

RandomForestRegressor(random_state=0)

In [20]:
clf.score(x_test,y_test)

0.8898379240144179

In [21]:
print(clf.predict([[8,350.0,165.0,3693,11.5,70,1]]))

[6.1404]

c:\users\kiit\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [26]:
import pickle
file = open('RFModelforMPG.pkl','wb')
pickle.dump(clf, file)

In [31]:
pip install joblib

Requirement already satisfied: joblib in c:\users\kiit\appdata\local\programs\python\python38-32\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [33]:
import joblib

In [35]:
joblib.dump(clf,'RFModelforMPG.pkl')

['RFModelforMPG.pkl']

In [36]:
modelReload=joblib.load('RFModelforMPG.pkl')

In [46]:
modelReload.predict(x)[192]

8.757000000000003

In [41]:
temp={}
temp['cylinders']=1
temp['displacement']=2
temp['horsepower']=3
temp['weight']=4
temp['acceleration']=5
temp['model year']=6
temp['origin']=1